body {
  background-image: url("https://img.freepik.com/premium-vector/plunger-seamless-pattern-white-background-toilet-theme-illustration_385450-702.jpg");
  background-color: hsl(213, 100%, 87%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
  color: rgb(244,241,51);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>💧</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

html{
  height: 100%;
  width: 100%;
}


#myCanvas2 {
  border: 3px solid rgb(245, 241, 31);
  border-radius: 50px;
}


